@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body{
    font-family: 'Open Sans', sans-serif;
}

.negative {
    color: #e74c3c;
}

.positive {
    color: #27ae60;
}

.footer p {
    text-align: center;
}

table {
    margin-top: 50px;
}

td{
    color: rgb(136, 150, 160);
}

#search {
    position: absolute;
    left: 5;
    top: 10px;
    width: 85%;
}

#close {
    position: absolute;
    right: 0;
    top: 10px;
    width: 7%;
}